---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Room of Wires - Fragile Melodic Moments">
  <main>
    <div
      class="h-screen bg-cover bg-no-repeat bg-fixed bg-center bg-[url('/images/jumbo06.jpg')]"
    >
      <div class="h-full flex items-center justify-center text-gold brutal">
        <div class="text-center mx-12">
          <h1 class="text-3xl">ERROR 404 - PAGE NOT FOUND</h1>
          <p class="pt-4">
            <a href="/latest">[ go to main page ]</a>
          </p>
        </div>
      </div>
    </div>
  </main>
</Layout>
