---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Room of Wires - Fragile Melodic Moments">
  <main>
    <div
      class="h-screen bg-cover bg-no-repeat bg-fixed bg-center bg-[url('/images/4T_Finland.jpg')]"
    >
      <div class="h-full flex items-center justify-center text-gray-200 avenir">
        <div class="text-left mx-12 w-[80%] h-[80%] md:h-[80%] text-rust">
          <div class="w-[85%] md:w-[55%] bg-opacity-25 bg-black p-8">
            <p class="pt-2">
              In a short amount of time this collaboration has yielded several
              gems... Igloo magazine said "gritty rhythms, smouldering melody
              strands, crackling voices - a powerfully engulfing opus" the ten
              track album is available now on gatefold CD, or digital download.
            </p>
            <p class="pt-2">
              <a
                href="https://ping-discs.bandcamp.com/album/coldfire"
                target="_blank"
                class="font-bold"
                >https://ping-discs.bandcamp.com/album/coldfire</a
              >
            </p>
            <p class="pt-2">
              Prior to that, there were two tracks on the Afterthoughts
              compilation, which then lead to the Room of Wires remix of
              Paperboard Sun on 4T Thieves' The Vinyl Loop album.
            </p>
            <p class="pt-2">
              There'll definitely be more from our collaboration with 4T.
            </p>
            <div
              class="grid grid-cols-1 gap-4 md:grid-cols-3 lg:grid-cols-3 pt-8"
            >
              <div class="aspect-w-1 aspect-h-1">
                <img src="/images/coldfire-sleeve.jpg" class="object-cover" />
              </div>
              <div class="aspect-w-1 aspect-h-1">
                <img src="/images/vinyl_loop.jpg" class="object-cover" />
              </div>
              <div class="aspect-w-1 aspect-h-1">
                <img src="/images/afterthoughts_va.jpg" class="object-cover" />
              </div>
              <div class="aspect-w-1 aspect-h-1">
                <img src="/images/long_way_home.jpg" class="object-cover" />
              </div>
            </div>
            <p class="text-sm pt-8">
              <a href="/latest">[ go to roomofwires.com ]</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
