---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import Masthead from "../components/Masthead.astro";
import Card from "../components/Card.astro";
import Footer from "../components/Footer.astro";

import posts from "../data/posts.json";
---

<Layout title="Room of Wires - Fragile Melodic Moments">
  <main>
    <div
      class="bg-camo bg-[url('/images/background.jpg')] bg-cover bg-no-repeat"
    >
      <NavBar location="latest" />
      <div
        class="container pt-[72px] px-4 mx-auto max-w-md lg:max-w-6xl md:max-w-3xl"
      >
        <Masthead title="ARCHIVE" tagline="All the news since day one" />
        <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-4">
          {
            posts.posts.map(({ link, image, copy }) => (
              <Card link={link} image={image} copy={copy} />
            ))
          }
        </div>
        <Footer links={["inside", "projects"]} />
      </div>
    </div>
  </main>
</Layout>
