---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Room of Wires - Fragile Melodic Moments">
  <main>
    <div
      class="h-screen bg-cover bg-no-repeat bg-fixed bg-center bg-[url('/images/dasf.jpg')]"
    >
      <div class="h-full flex items-center justify-center text-gray-200 brutal">
        <div class="text-left mx-12 w-[80%] h-[80%] md:h-[60%]">
          <div class="w-[85%] md:w-[60%]">
            <h1 class="text-3xl">DasF</h1>
            <p class="pt-2">
              DasF is the meeting of The Dronefynder General and the two Andrews
              from Room of Wires, in a deep connection of time and sound.
            </p>
            <p class="pt-2">
              Creating dark, urgent and unsettling electronica, forged from
              evaporating melodies and throbbing layers of sonic disquiet.
            </p>
            <p class="pt-2">
              Anonymous found fragments from passing encounters and urban
              moments are weaved with deep and lugubrious oscillations across
              lethean sonic waters. Half memories… the fleeting unfolding of
              themes and sound spaces. Darkness with occasional chinks of light.
              DasF.
            </p>
            <p class="pt-2">Trenchcoat EP &gt;</p>
            <p class="pt-8">
              <a href="/latest">[ go to roomofwires.com ]</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
