---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Room of Wires - Fragile Melodic Moments">
  <main>
    <div
      class="h-screen bg-cover bg-no-repeat bg-fixed bg-center bg-[url('/images/decayed_bg.jpg')]"
    >
      <div
        class="h-full w-full flex items-center justify-center text-lime brutal"
      >
        <div class="absolute text-center inset-x-0 lg:-top-10 md:-top-8 -top-6">
          <h1 class="lg:text-8xl md:text-7xl text-6xl">DECAYED</h1>
          <p class="lg:text-3xl md:text-2xl text-xl text-gray-200">
            10YRS OF ISOLATION AND COLLABORATION
          </p>
        </div>
        <div
          class="absolute mx-auto text-center inset-x-0 w-[85%] lg:w-[55%] bg-opacity-25 bg-black p-4"
        >
          <p class="pt-2">For Room of Wires, this is still the beginning...</p>
          <p class="pt-2">
            Even after ten yrs, we’ve still never met, preferring to work in
            complete isolation from each other, inhabiting a murky world of
            Discord servers, shared drives, and wide area networks.
          </p>
          <p class="pt-2">
            Always eager to explore new ground, we invited some of our past
            allies to re-work a few highlights from the last decade, as well as
            a couple of re-workings from ourselves. And, it felt right that this
            release should go out on S27, the label that helped start our
            journey.
          </p>
          <p class="pt-2">
            So, here's to the next decade, whatever it may bring. For now, enjoy


            <a
              href="https://section27.bandcamp.com/album/decayed"
              target="_blank"
              class="font-bold">Decayed</a
            >, a hard-hitting celebration of isolation and collaboration.
          </p>
          <div class="grid grid-cols-4 pt-8 gap-4 w-[55%] mx-auto text-center">
            <div class="aspect-w-1 aspect-h-1">
              <a
                href="https://ping-discs.bandcamp.com/album/coldfire"
                target="_blank"
              >
                <img
                  src="/images/coldfire-sleeve.jpg"
                  alt="Coldfire cover"
                  class="object-cover"
                />
              </a>
            </div>
            <div class="aspect-w-1 aspect-h-1">
              <a
                href="https://ping-discs.bandcamp.com/album/the-vinyl-loop"
                target="_blank"
              >
                <img
                  src="/images/vinyl_loop.jpg"
                  alt="Vinyl Loop cover"
                  class="object-cover"
                /></a
              >
            </div>
            <div class="aspect-w-1 aspect-h-1">
              <a
                href="https://kahvicollective.bandcamp.com/album/afterthoughts"
                target="_blank"
              >
                <img
                  src="/images/afterthoughts_va.jpg"
                  alt="Afterthoughts cover"
                  class="object-cover"
                /></a
              >
            </div>
            <div class="aspect-w-1 aspect-h-1">
              <a
                href="https://mahorka.bandcamp.com/album/the-shipping-forecast"
                target="_blank"
              >
                <img
                  src="/images/long_way_home.jpg"
                  alt="The Shipping Forecast cover"
                  class="object-cover"
                /></a
              >
            </div>
            <div class="aspect-w-1 aspect-h-1">
              <a
                href="https://ping-discs.bandcamp.com/album/coldfire"
                target="_blank"
              >
                <img
                  src="/images/coldfire-sleeve.jpg"
                  alt="Coldfire cover"
                  class="object-cover"
                />
              </a>
            </div>
            <div class="aspect-w-1 aspect-h-1">
              <a
                href="https://ping-discs.bandcamp.com/album/the-vinyl-loop"
                target="_blank"
              >
                <img
                  src="/images/vinyl_loop.jpg"
                  alt="Vinyl Loop cover"
                  class="object-cover"
                /></a
              >
            </div>
            <div class="aspect-w-1 aspect-h-1">
              <a
                href="https://kahvicollective.bandcamp.com/album/afterthoughts"
                target="_blank"
              >
                <img
                  src="/images/afterthoughts_va.jpg"
                  alt="Afterthoughts cover"
                  class="object-cover"
                /></a
              >
            </div>
            <div class="aspect-w-1 aspect-h-1">
              <a
                href="https://mahorka.bandcamp.com/album/the-shipping-forecast"
                target="_blank"
              >
                <img
                  src="/images/long_way_home.jpg"
                  alt="The Shipping Forecast cover"
                  class="object-cover"
                /></a
              >
            </div>
          </div>
          <p class="text-sm pt-8">
            <a href="/latest">[ go to roomofwires.com ]</a>
          </p>
        </div>
      </div>
    </div>
  </main>
</Layout>
