---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Room of Wires - Fragile Melodic Moments">
  <main>
    <div
      class="h-screen bg-cover bg-no-repeat bg-fixed bg-center bg-[url('/images/decayed_bg.jpg')]"
    >
      <div class="h-full w-full flex items-center justify-center">
        <div
          class="absolute text-center inset-x-0 lg:-top-[140px] md:-top-[118px] -top-[86px]"
        >
          <p
            class="lg:text-[196px] md:text-[164px] text-[124px] text-lime brutal lg:h-[224px] md:h-[186px] h-[142px]"
          >
            DECAYED
          </p>
          <p class="lg:text-3xl md:text-2xl text-xl text-white brutal">
            10YRS OF ISOLATION AND COLLABORATION
          </p>
        </div>
        <div
          class="absolute mx-auto text-left inset-x-0 w-[85%] lg:w-[55%] bg-opacity-25 bg-black p-4 text-white acumin"
        >
          <p class="pt-2">For Room of Wires, this is still the beginning...</p>
          <p class="pt-2">
            Even after ten yrs, we've still never met, preferring to work in
            complete isolation from each other, inhabiting a murky world of
            Discord servers, shared drives, and wide area networks.
          </p>
          <p class="pt-2">
            Always eager to explore new ground, we invited some of our past
            allies to re-work a few highlights from the last decade, as well as
            a couple of re-workings from ourselves. And, it felt right that this
            release should go out on S27, the label that helped start our
            journey.
          </p>
          <p class="pt-2">
            So, here's to the next decade, whatever it may bring. For now, enjoy


            <a
              href="https://section27.bandcamp.com/album/decayed"
              target="_blank"
              class="font-bold">Decayed</a
            >, a hard-hitting celebration of isolation and collaboration.
          </p>
          <p class="pt-2">Immense thanks to all the remixers.</p>

          <div class="grid grid-cols-7 pt-8 w-[100%] mx-auto gap-2">
            <div class="mx-auto bg-coal w-full">
              <div class="aspect-w-1 aspect-h-1">
                <img
                  src="/images/dronefynder_general_pic.jpg"
                  alt="The Dronefynder General"
                  class="object-cover hover:animate-pulse"
                />
              </div>
              <div class="flex p-2 h-14 w-[80%] text-left aspect-none">
                <div class="text-[7pt] acumin">
                  <p class="text-sand">The Dronefynder General</p>
                </div>
              </div>
            </div>

            <div class="mx-auto bg-coal w-full">
              <div class="aspect-w-1 aspect-h-1">
                <img
                  src="/images/tomoroh_hidari_pic.jpg"
                  alt="Tomoroh Hidari"
                  class="object-cover hover:animate-pulse"
                />
              </div>
              <div class="flex p-2 h-14 w-[80%] text-left aspect-none">
                <div class="text-[7pt] acumin">
                  <p class="text-sand">Tomoroh Hidari</p>
                </div>
              </div>
            </div>

            <div class="mx-auto bg-coal w-full">
              <div class="aspect-w-1 aspect-h-1">
                <img
                  src="/images/4t_thieves_pic.jpg"
                  alt="4T Thieves"
                  class="object-cover hover:animate-pulse"
                />
              </div>
              <div class="flex p-2 h-14 w-[80%] text-left aspect-none">
                <div class="text-[7pt] acumin">
                  <p class="text-sand">4T Thieves</p>
                </div>
              </div>
            </div>
            <div class="mx-auto bg-coal w-full">
              <div class="aspect-w-1 aspect-h-1">
                <img
                  src="/images/dronefynder_general_pic.jpg"
                  alt="The Dronefynder General"
                  class="object-cover hover:animate-pulse"
                />
              </div>
              <div class="flex p-2 h-14 w-[80%] text-left aspect-none">
                <div class="text-[7pt] acumin">
                  <p class="text-sand">The Dronefynder General</p>
                </div>
              </div>
            </div>

            <div class="mx-auto bg-coal w-full">
              <div class="aspect-w-1 aspect-h-1">
                <img
                  src="/images/tomoroh_hidari_pic.jpg"
                  alt="Tomoroh Hidari"
                  class="object-cover hover:animate-pulse"
                />
              </div>
              <div class="flex p-2 h-14 w-[80%] text-left aspect-none">
                <div class="text-[7pt] acumin">
                  <p class="text-sand">Tomoroh Hidari</p>
                </div>
              </div>
            </div>

            <div class="mx-auto bg-coal w-full">
              <div class="aspect-w-1 aspect-h-1">
                <img
                  src="/images/4t_thieves_pic.jpg"
                  alt="4T Thieves"
                  class="object-cover hover:animate-pulse"
                />
              </div>
              <div class="flex p-2 h-14 w-[80%] text-left aspect-none">
                <div class="text-[7pt] acumin">
                  <p class="text-sand">4T Thieves</p>
                </div>
              </div>
            </div>
            <div class="mx-auto bg-coal w-full">
              <div class="aspect-w-1 aspect-h-1">
                <img
                  src="/images/4t_thieves_pic.jpg"
                  alt="4T Thieves"
                  class="object-cover hover:animate-pulse"
                />
              </div>
              <div class="flex p-2 h-12 w-[80%] text-left aspect-none">
                <div class="text-[7pt] acumin">
                  <p class="text-sand">4T Thieves</p>
                </div>
              </div>
            </div>
          </div>
          <p class="text-sm pt-8 text-center">
            <a href="/latest">[ go to roomofwires.com ]</a>
          </p>
        </div>
      </div>
    </div>
  </main>

   Weldroid - Cognition Delay - 4T Thieves - Tomoroh Hidari - Peltiform - The Dronefynder
  General - Daz Disley
</Layout>
