---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Room of Wires - Fragile Melodic Moments">
  <main>
    <div
      class="h-screen bg-cover bg-no-repeat bg-fixed bg-center bg-[url('/images/decayed_bg.jpg')]"
    >
      <div class="h-full flex items-center justify-center text-lime brutal">
        <div class="text-left mx-12 w-[80%] h-[80%] md:h-[80%]">
          <div class="w-[85%] md:w-[55%] bg-opacity-25 bg-black p-4">
            <h1 class="text-3xl">
              DECAYED - 10YRS OF ISOLATION AND COLLABORATION
            </h1>
            <p class="pt-2">
              For ten years now Room of Wires have worked in complete isolation
              from each other, long before the enforced isolation of COVID, and
              to this day have never met. Inhabiting a world of Discord servers
              and shared drives, the duo have released several albums and EPs on
              ant-zen, Rednetic Recordings, Section 27 and PingDiscs, as well as
              countless contributions to compilations and film scores.
            </p>
            <p class="pt-2">
              Always eager to explore new ground, they have also worked with a
              wide range of artists, from remixes to full-on collaborations.
              Here, across nine tracks, Room of Wires invite some of those past
              allies to re-work a few of their highlights of the past decade, as
              well as providing a couple of re-workings themselves, including
              the first ever track the duo worked on.
            </p>
            <p class="pt-2">
              So, here's to the next decade, whatever it may bring. For now,
              enjoy <a
                href="https://section27.bandcamp.com/album/decayed"
                target="_blank"
                class="font-bold"
                >Decayed - a celebration of isolation and collaboration</a
              >.
            </p>
            <p class="text-sm pt-8">
              <a href="/latest">[ go to roomofwires.com ]</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
