---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

import latest from '../data/latest.json'
---

<Layout title="Room of Wires">
	<main>
		<section>
			<div class="container mx-auto bg-gray-400 max-w-md lg:max-w-4xl md:max-w-2xl">
				<div class="h-64 bg-gray-600 mb-4 text-left align-bottom">
					<h1>FRAGILE MELODIC MOMENTS</h1>
					<p>Room of Wires have never met - together they create uneasy electronic music</p>
				</div>
				<div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-4 bg-gray-200 mx-auto">
					{
						latest.posts.map(({ link, image, copy }) => (
							<Card link={link} copy={copy} image={image} />
						))
					}
				</div>
			</div>
		</section>
	</main>
</Layout>
