---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Room of Wires - Fragile Melodic Moments">
  <main>
    <div
      class="h-screen bg-cover bg-no-repeat bg-fixed bg-center bg-[url('/images/underpass_bg.gif')]"
    >
      <div
        class="h-full flex items-center justify-center text-gold brutal bg-opacity-50 bg-black"
      >
        <div class="text-center mx-12">
          <a
            href="https://roomofwires.bandcamp.com/album/floodplains"
            target="_blank"
          >
            <h1 class="text-3xl">FLOODPLAINS</h1>
            <p class="text-xl pt-0">new extended play out now</p>
          </a>
          <p class="pt-8">
            <a href="/latest">[ enter room of wires ]</a>
          </p>
        </div>
      </div>
    </div>
  </main>
</Layout>
