---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Room of Wires - Fragile Melodic Moments">
  <main>
    <div
      class="h-screen bg-cover bg-no-repeat bg-fixed bg-center bg-[url('/movies/other-means.gif')]"
    >
      <div
        class="h-full flex items-center justify-center brutal bg-opacity-10 bg-black"
      >
        <div class="text-center mx-12">
          <a href="/latest">
            <h1
              class="lg:text-[32px] md:text-[32px] text-[32px] text-gold leading-none"
            >
              IF NO OTHER MEANS ARE EFFECTIVE
            </h1>
            <h1
              class="pt-2 lg:text-[24px] md:text-[24px] text-[24px] text-gray-200 leading-none"
            >
              NEW ALBUM OUT SOON
            </h1>
          </a>
          <p class="pt-8 text-gray-200">
            <a href="/latest">[ enter room of wires ]</a>
          </p>
        </div>
      </div>
    </div>
  </main>
</Layout>
