---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Room of Wires">
  <main>
    <div
      class="h-screen bg-cover bg-no-repeat bg-fixed bg-center bg-[url('images/masthead-movie.gif')]"
    >
      <div class="h-full flex items-center justify-center text-gold brutal">
        <a href="/latest">[ENTER THE ROOM OF WIRES]</a>
      </div>
    </div>
  </main>
</Layout>
