---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Room of Wires - Fragile Melodic Moments">
  <main>
    <div
      class="h-screen bg-cover bg-no-repeat bg-fixed bg-center bg-[url('/movies/other-means.gif')]"
    >
      <div
        class="h-full flex items-center justify-center brutal bg-opacity-50 bg-black"
      >
        <div class="text-center mx-12">
          <a href="/latest">
            <h1
              class="lg:text-[48px] md:text-[48px] text-[48px] text-gray-100 leading-none"
            >
              NEW ALBUM COMING SOON
            </h1>
          </a>
          <p class="text-gray-200">
            <a href="/latest">[ enter room of wires ]</a>
          </p>
        </div>
      </div>
    </div>
  </main>
</Layout>
