---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Room of Wires - Fragile Melodic Moments">
  <main>
    <div
      class="h-screen bg-cover bg-no-repeat bg-fixed bg-center bg-[url('/movies/decayed_teaser.mp4')]"
    >
      <div
        class="h-full flex items-center justify-center text-lime brutal bg-opacity-50 bg-black"
      >
        <div class="text-center mx-12">
          <a href="https://roomofwires.bandcamp.com" target="_blank">
            <h1 class="text-5xl">DECAYED</h1>
            <p class="text-2xl pt-0">10YRS OF ISOLATION AND COLLABORATION</p>
          </a>
          <p class="pt-8">
            <a href="/latest">[ enter room of wires ]</a>
          </p>
        </div>
      </div>
    </div>
  </main>
</Layout>
