---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import latest from '../data/latest.json'
---

<Layout title="Room of Wires">
	<main>
		<section class="container mx-auto bg-gray-400">
			<div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-4 bg-gray-200 mx-auto">
				{
					latest.posts.map(({ link, image, copy }) => (
						<Card link={link} copy={copy} image={image} />
					))
				}
			</div>
		</section>
	</main>
</Layout>
