---
import Layout from '../layouts/Layout.astro';
import Menu from '../components/Menu.astro';
import Masthead from '../components/Masthead.astro';
import Card from '../components/Card.astro';

import latest from '../data/latest.json'
---

<Layout title="Room of Wires">
	<main>
		<div class="bg-camo">
			<Menu location="latest" />
			<div class="pt-4 container mx-auto max-w-md lg:max-w-4xl md:max-w-2xl">
				<Masthead
					title="FRAGILE MELODIC MOMENTS"
					tagline="Room of Wires have never met - together they create uneasy electronic music"
				/>
				<div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-4 mx-auto">
					{
						latest.posts.map(({ link, image, copy }) => (
							<Card link={link} copy={copy} image={image} />
						))
					}
				</div>
			</div>
		</div>
	</main>
</Layout>
