---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Room of Wires - Fragile Melodic Moments">
  <main>
    <div
      class="h-screen bg-cover bg-no-repeat bg-fixed bg-center bg-[url('/movies/decayed-teaser.gif')]"
    >
      <div
        class="h-full flex items-center justify-center brutal bg-opacity-50 bg-black"
      >
        <div class="text-center mx-12">
          <a href="/decayed">
            <h1
              class="lg:text-[196px] lg:h-[224px] md:text-[148px] md:h-[168px] text-[112px] h-[130px] text-lime"
            >
              DECAYED
            </h1>
            <p class="text-2xl pt-0 text-white">
              10YRS OF ISOLATION AND COLLABORATION
            </p>
          </a>
          <p class="pt-8 text-white">
            <a href="/latest">[ enter room of wires ]</a>
          </p>
        </div>
      </div>
    </div>
  </main>
</Layout>
