---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Room of Wires - Fragile Melodic Moments">
  <main>
    <div
      class="h-screen bg-cover bg-no-repeat bg-fixed bg-center bg-[url('/images/welcome_to_bg.gif')]"
    >
      <div class="h-full flex items-center justify-center text-gold brutal">
        <div class="text-center mx-12">
          <a href="https://ant-zen.bandcamp.com/" target="_blank">
            <h1 class="text-3xl">WELCOME TO THE END GAME</h1>
            <p class="text-xl pt-0">New album to be released on ant-zen</p>
            <h2 class="text-3xl pt-4">15.02.2023</h2>
          </a>
          <p class="pt-8">
            <a href="/latest">[ enter room of wires ]</a>
          </p>
        </div>
      </div>
    </div>
  </main>
</Layout>
