---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
import Masthead from "../components/Masthead.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Room of Wires">
  <main>
    <div class="bg-camo">
      <Navigation location="inside" />
      <div
        class="container pt-[72px] px-4 mx-auto max-w-md lg:max-w-4xl md:max-w-2xl"
      >
        <Masthead
          title="INSIDE THE ROOM"
          tagline="Delve into their isolated approach"
        />

        <div class="bg-gray-800 text-sand text-xs">
          <img class="w-full" src="/images/row_press_shot.jpg" />
          <div class="p-4 pr-8">
            <p>
              We are an electronic music duo from the UK. We use synthesizers,
              computers, field recordings and handcrafted software to create
              twisted, fragile yet beautiful sounds. Since forming in 2013, we
              have released several albums and EPs through ant-zen, Rednetic
              Recordings, and Section 27, as well as countless contributions to
              compilations and film scores including 'Shifter' and 'Versus'.
              We've never met, preferring to work in isolation, sharing ideas
              and sounds over the internet, one of us using hardware and a
              tangle of physical wires, the other lost in software and virtual
              cables.
            </p>
            <p>
              To find out more, read our
              <a
                href="https://igloomag.com/profiles/room-of-wires-making-music-in-total-isolation"
                target="_blank">recent interview</a
              > in Igloo Magazine, chat with us on
              <a href="https://discord.gg/3UZd5UZzqg" target="_blank">Discord</a
              >, follow us on
              <a href="https://facebook.com/roomofwires" target="_blank"
                >Facebook</a
              >,
              <a href="https://twitter.com/roomofwires" target="_blank"
                >Twitter</a
              > and
              <a href="https://instagram.com/roomofwires" target="_blank"
                >Instagram</a
              >, and feel free to join our
              <a href="/join">Mailing List</a>.
              <p>
                You can listen to us on
                <a href="https://roomofwires.bandcamp.com" target="_blank"
                  >Bandcamp</a
                >,
                <a
                  href="https://open.spotify.com/artist/0gLl9cMxmp8sJjxPJSt8Ep"
                  target="_blank">Spotify</a
                > and
                <a href="https://soundcloud.com/roomofwires" target="_blank"
                  >SoundCloud</a
                >.
              </p>
            </p>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-4 pt-4">
          <div class="aspect-w-1 aspect-h-1">
            <img src="/images/RoW_inside_1.jpg" class="object-cover" />
          </div>
          <div class="aspect-w-1 aspect-h-1">
            <img src="/images/RoW_inside_2.jpg" class="object-cover" />
          </div>
          <div class="aspect-w-1 aspect-h-1">
            <img src="/images/RoW_inside_3.jpg" class="object-cover" />
          </div>
          <div class="aspect-w-1 aspect-h-1">
            <img src="/images/RoW_inside_4.jpg" class="object-cover" />
          </div>
          <div class="aspect-w-1 aspect-h-1">
            <img src="/images/RoW_inside_5.jpg" class="object-cover" />
          </div>
          <div class="aspect-w-1 aspect-h-1">
            <img src="/images/RoW_inside_6.jpg" class="object-cover" />
          </div>
          <div class="aspect-w-1 aspect-h-1">
            <img src="/images/RoW_inside_7.jpg" class="object-cover" />
          </div>
          <div class="aspect-w-1 aspect-h-1">
            <img src="/images/RoW_inside_8.jpg" class="object-cover" />
          </div>
          <div class="aspect-w-1 aspect-h-1">
            <img src="/images/RoW_inside_9.jpg" class="object-cover" />
          </div>
          <div class="aspect-w-1 aspect-h-1">
            <img src="/images/RoW_inside_10.jpg" class="object-cover" />
          </div>
          <div class="aspect-w-1 aspect-h-1">
            <img src="/images/RoW_inside_11.jpg" class="object-cover" />
          </div>
          <div class="aspect-w-1 aspect-h-1">
            <img src="/images/RoW_inside_12.jpg" class="object-cover" />
          </div>
        </div>
      </div>
      <Footer />
    </div>
  </main>
</Layout>
