---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import Masthead from "../components/Masthead.astro";
import Gallery from "../components/Gallery.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Room of Wires">
  <main>
    <div class="bg-camo">
      <NavBar location="inside" />
      <div
        class="container pt-[72px] px-4 mx-auto max-w-md lg:max-w-6xl md:max-w-3xl"
      >
        <Masthead
          title="INSIDE THE ROOM"
          tagline="Delve into their isolated approach"
        />

        <div class="bg-coal acumin text-sand text-sm leading-relaxed">
          <img
            class="w-full border-solid border-[16px] border-black"
            src="/images/row_press_shot.jpg"
          />
          <div class="p-4 w-[85%]">
            <p>
              We are two Andrews from the UK. We create dark, synthetic audio
              fragments. We use synthesizers, computers, field recordings and
              handcrafted software.
            </p>
            <p class="pt-4">
              We have released several albums and EPs on: ant-zen, Rednetic
              Recordings, Section 27, and PingDiscs, as well as countless
              contributions to compilations, and film scores including 'Shifter'
              and 'Versus'.
            </p>
            <p class="pt-4">
              We've never met, preferring to work in isolation, sharing ideas
              and sounds over the internet, one of us using hardware and a
              tangle of physical wires, the other lost in software and virtual
              cables.
            </p>

            <p class="pt-4">
              You can hear our music on
              <a
                href="https://roomofwires.bandcamp.com"
                target="_blank"
                class="font-bold">Bandcamp</a
              >,
              <a
                href="https://open.spotify.com/artist/0gLl9cMxmp8sJjxPJSt8Ep"
                target="_blank"
                class="font-bold">Spotify</a
              > and
              <a
                href="https://soundcloud.com/roomofwires"
                target="_blank"
                class="font-bold">SoundCloud</a
              >.
            </p>
            <p class="pt-4">
              Find out more in our
              <a
                href="https://igloomag.com/profiles/room-of-wires-making-music-in-total-isolation"
                target="_blank">interview</a
              > in Igloo Magazine, chat with us on
              <a
                href="https://discord.gg/3UZd5UZzqg"
                target="_blank"
                class="font-bold">Discord</a
              >, follow us on
              <a
                href="https://facebook.com/roomofwires"
                target="_blank"
                class="font-bold">Facebook</a
              >,
              <a
                href="https://twitter.com/roomofwires"
                target="_blank"
                class="font-bold">Twitter</a
              > and
              <a
                href="https://instagram.com/roomofwires"
                target="_blank"
                class="font-bold">Instagram</a
              >, or join our
              <a href="/join" class="font-bold">Mailing List</a>.
            </p>
          </div>
        </div>

        <Gallery />
      </div>
      <Footer />
    </div>
  </main>
</Layout>
