---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import Masthead from "../components/Masthead.astro";
import Gallery from "../components/Gallery.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Room of Wires - Fragile Melodic Moments">
  <main>
    <div
      class="bg-camo bg-[url('/images/background.jpg')] bg-cover bg-no-repeat"
    >
      <NavBar location="inside" />
      <div
        class="container pt-[72px] px-4 mx-auto max-w-md lg:max-w-6xl md:max-w-3xl"
      >
        <Masthead
          title="INSIDE THE ROOM"
          tagline="Delve into their isolated approach"
        />

        <div class="bg-coal acumin text-sand text-md leading-relaxed">
          <img
            src="/images/row_press_shot.jpg"
            alt="Room of Wires press shot"
            class="w-full border-solid border-[32px] border-black"
          />
          <div class="p-8 w-[85%]">
            <p>
              We are two Andrews from the UK. We create dark, fragile melodic
              moments using synths, field recordings and software. We've never
              met, preferring to work in isolation, sharing ideas and sounds
              over the internet; one of us using hardware and a tangle of
              physical wires, the other lost in software and virtual cables.
            </p>
            <p class="pt-4">
              We've released several albums and EPs on ant-zen, Rednetic
              Recordings, Section 27 and PingDiscs, as well as countless
              contributions to compilations and film scores including 'Shifter'
              and 'Versus'. Aliases include
              <a href="https://roomofwires.com/dasf" class="font-bold">DasF</a>,
              and
              <a
                href="https://cavelikecarving.com"
                target="_blank"
                class="font-bold">Cave like carving</a
              >.
            </p>
            <p class="pt-4">
              You can hear our music on
              <a
                href="https://roomofwires.bandcamp.com"
                target="_blank"
                class="font-bold">Bandcamp</a
              >,
              <a
                href="https://open.spotify.com/artist/0gLl9cMxmp8sJjxPJSt8Ep"
                target="_blank"
                class="font-bold">Spotify</a
              >,
              <a
                href="https://music.apple.com/gb/artist/room-of-wires/1034890318"
                target="_blank"
                class="font-bold">Apple Music</a
              > and
              <a
                href="https://soundcloud.com/roomofwires"
                target="_blank"
                class="font-bold">SoundCloud</a
              >.
            </p>
            <p class="pt-4">
              And the best way to get into our heads is to check out our
              <a
                href="https://youtu.be/f7Z7MbbDC_k"
                target="_blank"
                class="font-bold">session</a
              > on the Bass Agenda show where the we talk and play favourite
              tracks...expect IDM, and industrial weird shit.
            </p>
            <p class="pt-4">
              ...and then there is more in our
              <a
                href="https://igloomag.com/profiles/room-of-wires-making-music-in-total-isolation"
                target="_blank"
                class="font-bold">interview</a
              > for Igloo Magazine, you can chat with us on
              <a
                href="https://discord.gg/3UZd5UZzqg"
                target="_blank"
                class="font-bold">Discord</a
              >, follow us on
              <a
                href="https://facebook.com/roomofwires"
                target="_blank"
                class="font-bold">Facebook</a
              >,
              <a
                href="https://twitter.com/roomofwires"
                target="_blank"
                class="font-bold">Twitter/X</a
              > and
              <a
                href="https://instagram.com/roomofwires"
                target="_blank"
                class="font-bold">Instagram</a
              >, or join our
              <a href="/join" class="font-bold">Mailing List</a>. And check out
              our illustrated modular
              <a
                href="https://roomofwires.myspreadshop.co.uk"
                target="_blank"
                class="font-bold">T-Shirts</a
              > too.
            </p>
          </div>
        </div>

        <Gallery />
        <Footer links={["latest", "projects"]} />
      </div>
    </div>
  </main>
</Layout>
