---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Room of Wires">
  <main>
    <div
      class="h-screen bg-cover bg-no-repeat bg-fixed bg-center bg-[url('/images/jumbo06.jpg')]"
    >
      <div class="h-full flex items-center justify-center text-gold brutal">
        <div class="text-center mx-12">
          <!-- Begin Mailchimp Signup Form -->
          <link
            href="//cdn-images.mailchimp.com/embedcode/classic-071822.css"
            rel="stylesheet"
            type="text/css"
          />
          <style type="text/css">
            #mc_embed_signup {
              background: rgba(24, 24, 22, 0.6);
              clear: left;
              width: 300px;
              padding: 12px;
            }
            #mc_embed_signup input.button {
              background-color: #fdd835;
              color: #181816;
              margin-top: 16px;
            }
            #mc_embed_signup input {
              background-color: #25241f;
              color: #fdd835;
              border: 2px solid #4c4a3d;
            }
          </style>
          <div id="mc_embed_signup">
            <form
              action="https://roomofwires.us1.list-manage.com/subscribe/post?u=23110253a735687574ebaef2e&id=2eb2e5fe03&f_id=00397de2f0"
              method="post"
              id="mc-embedded-subscribe-form"
              name="mc-embedded-subscribe-form"
              class="validate"
              target="_blank"
              novalidate
            >
              <div id="mc_embed_signup_scroll">
                <h2>See inside the Room of Wires</h2>
                <p class="pb-4">
                  Join our mailing list and we'll keep you posted of any new
                  releases
                </p>
                <div class="mc-field-group">
                  <label for="mce-EMAIL">Email Address</label>
                  <input
                    type="email"
                    value=""
                    name="EMAIL"
                    class="required email"
                    id="mce-EMAIL"
                    required
                  />
                </div>
                <div id="mce-responses" class="clear foot">
                  <div
                    class="response"
                    id="mce-error-response"
                    style="display:none"
                  >
                  </div>
                  <div
                    class="response"
                    id="mce-success-response"
                    style="display:none"
                  >
                  </div>
                </div>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div
                  style="position: absolute; left: -5000px;"
                  aria-hidden="true"
                >
                  <input
                    type="text"
                    name="b_23110253a735687574ebaef2e_2eb2e5fe03"
                    tabindex="-1"
                    value=""
                  />
                </div>
                <div class="optionalParent">
                  <div class="clear foot">
                    <input
                      type="submit"
                      value="Subscribe"
                      name="subscribe"
                      id="mc-embedded-subscribe"
                      class="button"
                    />
                  </div>
                </div>
              </div>
            </form>
          </div>
          <script
            type="text/javascript"
            src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"
          ></script><script type="text/javascript">
            (function ($) {
              window.fnames = new Array();
              window.ftypes = new Array();
              fnames[0] = "EMAIL";
              ftypes[0] = "email";
              fnames[1] = "FNAME";
              ftypes[1] = "text";
              fnames[2] = "LNAME";
              ftypes[2] = "text";
              fnames[3] = "ADDRESS";
              ftypes[3] = "address";
              fnames[4] = "PHONE";
              ftypes[4] = "phone";
              fnames[5] = "BIRTHDAY";
              ftypes[5] = "birthday";
            })(jQuery);
            var $mcj = jQuery.noConflict(true);
          </script>
          <!--End mc_embed_signup-->

          <p class="pt-4">
            <a href="/latest">[ go to main page ]</a>
          </p>
        </div>
      </div>
    </div>
  </main>
</Layout>
