---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import Masthead from "../components/Masthead.astro";
import Project from "../components/Project.astro";
import Footer from "../components/Footer.astro";

import projects from "../data/projects.json";
---

<Layout title="Room of Wires - Fragile Melodic Moments">
  <main>
    <div
      class="bg-camo bg-[url('/images/background.jpg')] bg-cover bg-no-repeat"
    >
      <NavBar location="projects" />
      <div
        class="container pt-[72px] px-4 mx-auto max-w-md lg:max-w-6xl md:max-w-3xl"
      >
        <Masthead
          title="PROJECTS & COLLABORATIONS"
          tagline="New ideas, new ways of working"
        />

        <div class="bg-coal mb-4 acumin text-sand text-md leading-relaxed">
          <div class="p-8 w-[85%]">
            <p>
              Working with others is a big part of our style, bringing out new
              ideas and new ways of working. We've worked together with many
              inspiring artists from videographers and filmmakers, right through
              to synth legends. Whether its remixing, film scores, performance
              art installations, or full-on collaborations, we're always up for
              it.
            </p>
          </div>
        </div>

        <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
          {
            projects.projects.map(({ image, copy, link }) => (
              <Project image={image} copy={copy} link={link} />
            ))
          }
        </div>
        <Footer links={["latest", "inside"]} />
      </div>
    </div>
  </main>
</Layout>
