---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Room of Wires - Fragile Melodic Moments">
  <main>
    <div
      class="h-screen bg-cover bg-no-repeat bg-fixed bg-center bg-[url('/images/stationzero.jpg')]"
    >
      <div
        class="h-full flex items-center justify-center text-gray-200 eurostile"
      >
        <div class="text-left mx-12 w-[80%] h-[80%] md:h-[80%]">
          <div class="w-[85%] md:w-[55%] bg-opacity-75 bg-gray-800 p-4">
            <h1 class="text-3xl">ROOM OF WIRES / STATION ZERO</h1>
            <p class="pt-2">
              Carbon Based Shrine is the soon to be released, full album from
              Room of Wires/Station Zero.
            </p>
            <p class="pt-2">
              A collaboration described as a perpetual battle. From both sides
              of the Atlantic they duel to create an epic album. It's totally
              absorbing, from start to finish, a luscious rollercoaster of dark
              and darker.
            </p>
            <p class="pt-2">An intense listen.</p>
            <p class="pt-8">
              <a href="/latest">[ go to roomofwires.com ]</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
