---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Room of Wires - Fragile Melodic Moments">
  <main>
    <div
      class="h-screen bg-cover bg-no-repeat bg-fixed bg-center bg-[url('/images/stationzero.jpg')]"
    >
      <div
        class="h-full flex items-center justify-center text-gray-200 eurostile"
      >
        <div class="text-left mx-12 w-[80%] h-[80%] md:h-[80%]">
          <div class="w-[85%] md:w-[55%] bg-opacity-75 bg-black p-4">
            <h1 class="text-3xl">ROOM OF WIRES / STATION ZERO</h1>
            <p class="pt-2">
              This is a collaboration described as a perpetual battle, that's
              lasted over four years. From both sides of the Atlantic we've
              fought to create an epic album: 'Carbon Based Shrine' released
              through ant-zen out of Germany.
            </p>
            <p class="pt-2">
              It's a distortion soaked fever dream. A white-hot, unwavering
              flame that sears through the heart of the album. Tense, gripping,
              relentless...
            </p>

            <div
              class="grid grid-cols-1 gap-4 md:grid-cols-3 lg:grid-cols-3 pt-8"
            >
              <div class="aspect-w-1 aspect-h-1">
                <a
                  href="https://ant-zen.bandcamp.com/album/carbon-based-shrine"
                  target="_blank"
                >
                  <img
                    src="/images/carbon_based_shrine.jpg"
                    alt="Coldfire cover"
                    class="object-cover"
                  />
                </a>
              </div>
              <div class="aspect-w-1 aspect-h-1">
                <a
                  href="https://musicanalysisdiscussionsrecords.bandcamp.com/track/bloat"
                  target="_blank"
                >
                  <img
                    src="/images/Mad_4.jpg"
                    alt="Vinyl Loop cover"
                    class="object-cover"
                  /></a
                >
              </div>
            </div>

            <p class="text-sm pt-8">
              <a href="/latest">[ go to roomofwires.com ]</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
