---
const { link, image, copy } = Astro.props;
---

<div class="mx-auto border bg-gray-800 border-gray-700 hover:animate-pulse">
	<a href={link}>
		<img class="aspect-square" src={image} alt="" />
		<div class="flex p-2 h-20 text-center">
			<p class="my-auto text-xs text-sand">{copy}</p>
		</div>
	</a>
</div>
