---
export interface Props {
	copy: string;
	img: string;
	link: string;
}

const { link, copy, img } = Astro.props;
---

<li>
	<div class="max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
		<a href={link}>
			<img class="rounded-t-lg" src={img} alt="" />
		</a>
		<div class="p-5">
			<p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{copy}</p>
		</div>
	</div>
</li>
