---
const { link, image, copy } = Astro.props;
---

<div class="mx-auto border bg-gray-800 border-gray-700 hover:animate-pulse">
	<a href={link}>
		<div class="aspect-w-1 aspect-h-1">
			<img src={image} alt="" />
		</div>
		<div class="flex p-2 h-20 text-center aspect-none">
			<p class="my-auto text-xs text-sand">{copy}</p>
		</div>
	</a>
</div>
