---
export interface Props {
	link: string;
	image: string;
	copy: string;
}

const { link, image, copy } = Astro.props;
---

<div class="mx-auto border bg-gray-800 border-gray-700">
	<a href={link}>
		<img class="aspect-square" src={image} alt="" />
		<div class="p-2 h-18 text-center align-middle">
			<p class="text-xs text-gray-400">{copy}</p>
		</div>
	</a>
</div>
