<div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-4 pt-4">
  <div class="aspect-w-1 aspect-h-1">
    <img
      src="/images/RoW_inside_1.jpg"
      alt="Inside Room of Wires gallery image 1"
      class="object-cover"
    />
  </div>
  <div class="aspect-w-1 aspect-h-1">
    <img
      src="/images/RoW_inside_2.jpg"
      alt="Inside Room of Wires gallery image 2"
      class="object-cover"
    />
  </div>
  <div class="aspect-w-1 aspect-h-1">
    <img
      src="/images/RoW_inside_3.jpg"
      alt="Inside Room of Wires gallery image 3"
      class="object-cover"
    />
  </div>
  <div class="aspect-w-1 aspect-h-1">
    <img
      src="/images/RoW_inside_4.jpg"
      alt="Inside Room of Wires gallery image 4"
      class="object-cover"
    />
  </div>
  <div class="aspect-w-1 aspect-h-1">
    <img
      src="/images/RoW_inside_5.jpg"
      alt="Inside Room of Wires gallery image 5"
      class="object-cover"
    />
  </div>
  <div class="aspect-w-1 aspect-h-1">
    <img
      src="/images/RoW_inside_6.jpg"
      alt="Inside Room of Wires gallery image 6"
      class="object-cover"
    />
  </div>
  <div class="aspect-w-1 aspect-h-1">
    <img
      src="/images/RoW_inside_7.jpg"
      alt="Inside Room of Wires gallery image 7"
      class="object-cover"
    />
  </div>
  <div class="aspect-w-1 aspect-h-1">
    <img
      src="/images/RoW_inside_8.jpg"
      alt="Inside Room of Wires gallery image 8"
      class="object-cover"
    />
  </div>
  <div class="aspect-w-1 aspect-h-1">
    <img
      src="/images/RoW_inside_9.jpg"
      alt="Inside Room of Wires gallery image 9"
      class="object-cover"
    />
  </div>
  <div class="aspect-w-1 aspect-h-1">
    <img
      src="/images/RoW_inside_10.jpg"
      alt="Inside Room of Wires gallery image 10"
      class="object-cover"
    />
  </div>
  <div class="aspect-w-1 aspect-h-1">
    <img
      src="/images/RoW_inside_11.jpg"
      alt="Inside Room of Wires gallery image 11"
      class="object-cover"
    />
  </div>
  <div class="aspect-w-1 aspect-h-1">
    <img
      src="/images/RoW_inside_12.jpg"
      alt="Inside Room of Wires gallery image 12"
      class="object-cover"
    />
  </div>
</div>
