---
const { title, tagline } = Astro.props;
---

<div
  class="relative h-80 px-4 mb-4 text-left text-gold brutal bg-[url('/images/masthead-movie.gif')] bg-cover opacity-75"
>
  <div class="absolute bottom-4">
    <h1 class="text-3xl">{title}</h1>
    <p>{tagline}</p>
  </div>
</div>
