---
const { title, tagline } = Astro.props;
---

<div class="relative h-72 pl-4 mb-4 text-left text-gold brutal bg-[url('/images/masthead-movie.gif')] bg-cover">
    <div class="absolute bottom-4">
        <h1>{title}</h1>
        <p>{tagline}</p>
    </div>
</div>
