---
const { title, tagline } = Astro.props;
---

<div
  class="relative h-[360px] px-8 mb-4 text-left brutal bg-[url('/images/masthead-movie.gif')] bg-cover"
>
  <div class="absolute bottom-8">
    <h1 class="text-3xl text-gold">{title}</h1>
    <p class="text-sand">{tagline}</p>
  </div>
</div>
