<nav class="flex items-center justify-between flex-wrap bg-gray-900 p-3">
    <div class="container flex mx-auto max-w-4xl">
        <div class="items-center flex-shrink-0 text-white mr-6">
            <img class="h-4" src="/images/menu-logo.png" />
        </div>
        <div class="block lg:hidden">
            <button class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
                <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
            </button>
        </div>
        <div class="text-right brutal w-full block flex-grow lg:flex lg:items-center lg:w-auto">
            <div class="text-sm lg:flex-grow">
                <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-gray-300 hover:text-sand mr-4">
                    Latest
                </a>
                <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-gray-300 hover:text-sand mr-4">
                    Inside
                </a>
                <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-gray-300 hover:text-sand mr-4">
                    Releases
                </a>
                <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-gray-300 hover:text-sand mr-4">
                    Projects
                </a>
                <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-gray-300 hover:text-sand mr-4">
                    Listen/Buy
                </a>
                <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-gray-300 hover:text-sand">
                    Social
                </a>
            </div>
        </div>
    </div>
</nav>
