---
const { location } = Astro.props;
---

<nav class="bg-gray-900 h-14 py-4">
  <div
    class="container flex justify-between mx-auto max-w-md lg:max-w-4xl md:max-w-2xl"
  >
    <div class="items-center flex-shrink-0 mr-6">
      <img class="h-6" src="/images/menu-logo.png" />
    </div>
    <div class="hidden lg:flex brutal">
      <a href="/" class="block mt-4 lg:inline-block lg:mt-0 mr-4">
        {
          location == "latest" ? (
            <p class="text-gray-100">Latest</p>
          ) : (
            <p class="text-gray-400 hover:text-gray-100">Latest</p>
          )
        }
      </a>
      <a href="/archive" class="block mt-4 lg:inline-block lg:mt-0 mr-4">
        {
          location == "archive" ? (
            <p class="text-gray-100">Archive</p>
          ) : (
            <p class="text-gray-400 hover:text-gray-100">Archive</p>
          )
        }
      </a>
      <a href="/inside" class="block mt-4 lg:inline-block lg:mt-0 mr-4">
        {
          location == "inside" ? (
            <p class="text-gray-100">Inside</p>
          ) : (
            <p class="text-gray-400 hover:text-gray-100">Inside</p>
          )
        }
      </a>
      <a href="/releases" class="block mt-4 lg:inline-block lg:mt-0 mr-4">
        {
          location == "releases" ? (
            <p class="text-gray-100">Releases</p>
          ) : (
            <p class="text-gray-400 hover:text-gray-100">Releases</p>
          )
        }
      </a>
      <a href="/projects" class="block mt-4 lg:inline-block lg:mt-0 mr-4">
        {
          location == "projects" ? (
            <p class="text-gray-100">Projects</p>
          ) : (
            <p class="text-gray-400 hover:text-gray-100">Projects</p>
          )
        }
      </a>
      <a
        href="#responsive-header"
        class="block mt-4 lg:inline-block lg:mt-0 mr-4"
      >
        {
          location == "listen" ? (
            <p class="text-gray-100">Listen/Buy</p>
          ) : (
            <p class="text-gray-400 hover:text-gray-100">Listen/Buy</p>
          )
        }
      </a>
      <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0">
        {
          location == "social" ? (
            <p class="text-gray-100">Social</p>
          ) : (
            <p class="text-gray-400 hover:text-gray-100">Social</p>
          )
        }
      </a>
    </div>
    <div class="flex lg:hidden hover:opacity-50">
      <div class="space-y-2">
        <span class="block w-8 h-1 bg-gold"></span>
        <span class="block w-8 h-1 bg-gold"></span>
        <span class="block w-8 h-1 bg-gold"></span>
      </div>
    </div>
  </div>
</nav>
