---
const { location } = Astro.props;
---

<a href="/" class="block mt-4 lg:inline-block lg:mt-0 mr-4">
  {
    location == "latest" ? (
      <p class="text-gray-100">Latest</p>
    ) : (
      <p class="text-gray-400 hover:text-gray-100">Latest</p>
    )
  }
</a>
<a href="/archive" class="block mt-4 lg:inline-block lg:mt-0 mr-4">
  {
    location == "archive" ? (
      <p class="text-gray-100">Archive</p>
    ) : (
      <p class="text-gray-400 hover:text-gray-100">Archive</p>
    )
  }
</a>
<a href="/inside" class="block mt-4 lg:inline-block lg:mt-0 mr-4">
  {
    location == "inside" ? (
      <p class="text-gray-100">Inside</p>
    ) : (
      <p class="text-gray-400 hover:text-gray-100">Inside</p>
    )
  }
</a>
<a href="/releases" class="block mt-4 lg:inline-block lg:mt-0 mr-4">
  {
    location == "releases" ? (
      <p class="text-gray-100">Releases</p>
    ) : (
      <p class="text-gray-400 hover:text-gray-100">Releases</p>
    )
  }
</a>
<a href="/projects" class="block mt-4 lg:inline-block lg:mt-0 mr-4">
  {
    location == "projects" ? (
      <p class="text-gray-100">Projects</p>
    ) : (
      <p class="text-gray-400 hover:text-gray-100">Projects</p>
    )
  }
</a>
<a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 mr-4">
  {
    location == "listen" ? (
      <p class="text-gray-100">Listen</p>
    ) : (
      <p class="text-gray-400 hover:text-gray-100">Listen</p>
    )
  }
</a>
<a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0">
  {
    location == "social" ? (
      <p class="text-gray-100">Social</p>
    ) : (
      <p class="text-gray-400 hover:text-gray-100">Social</p>
    )
  }
</a>
