---
import Menu from "../components/Menu.astro";

const { location } = Astro.props;
---

<nav class="fixed w-full z-10 top-0">
  <div class="bg-gray-900 py-4 h-15">
    <div
      class="container flex justify-between mx-auto px-4 max-w-md lg:max-w-4xl md:max-w-2xl text-s"
    >
      <div class="items-center flex-shrink-0 my-auto mr-6">
        <a href="/latest"><img class="h-5" src="/images/menu-logo.png" /></a>
      </div>
      <div class="hidden lg:flex brutal">
        <Menu location={location} />
      </div>
      <div class="flex lg:hidden" x-data="{ open: false }">
        <div class="space-y-1.5" x-on:click="open = ! open">
          <span class="block w-8 h-1 bg-gold"></span>
          <span class="block w-8 h-1 bg-gold"></span>
          <span class="block w-8 h-1 bg-gold"></span>
        </div>
        <div class="relative">
          <div
            class="absolute -right-2 top-12 px-4 p-4 space-y-1.5 brutal text-right bg-gray-900 z-10"
            x-show="open"
            x-transition
          >
            <Menu location={location} />
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
