---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-RDB2JCM2QX"
    ></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-RDB2JCM2QX");
    </script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="Room of Wires have never met. Together they create uneasy electronic music."
    />
    <meta
      name="keywords"
      content="electronic music, electronica, dark ambient, techno"
    />
    <meta name="author" content="Room of Wires" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/svg+xml" sizes="any" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <meta property="og:title" content="Fragile Melodic Moments" />
    <meta
      property="og:description"
      content="Room of Wires have never met. Together they create uneasy electronic music."
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content="https://roomofwires.com/images/summary_large_image.jpg"
    />
    <meta property="og:url" content="/" />
    <meta property="og:site_name" content="Room of Wires" />

    <link href="https://mastodon.social/@roomofwires" rel="me" />

    <title>{title}</title>
  </head>
  <body class="bg-coal">
    <slot />
    <style is:global>
      @font-face {
        font-family: "AcuminPro";
        src: url("/fonts/AcuminProRegular.woff") format("woff");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "AcuminPro";
        src: url("/fonts/AcuminProBold.woff") format("woff");
        font-weight: bold;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "AvenirNext";
        src: url("/fonts/AvenirNextRegular.woff") format("woff");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "AvenirNext";
        src: url("/fonts/AvenirNextBold.woff") format("woff");
        font-weight: bold;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "Eurostile";
        src: url("/fonts/EurostileExtended.woff") format("woff");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "BrutalType";
        src: url("/fonts/BrutalTypeBlack.woff") format("woff");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }

      .acumin {
        font-family: "AcuminPro";
      }

      .avenir {
        font-family: "AvenirNext";
      }

      .eurostile {
        font-family: "Eurostile";
      }

      .brutal {
        font-family: "BrutalType";
      }

      [x-cloak] {
        display: none !important;
      }
    </style>
  </body>
</html>
