---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <footer class="bg-camo py-3">
      <div class="container mx-auto">
        <p class="m-0 text-center text-xs text-gray-800">
          Copyright &copy; Room of Wires 2013-2022
        </p>
      </div>
    </footer>
    <style is:global>
      @font-face {
        font-family: "BrutalTypeBlack";
        src: url("/fonts/brutal_type_black.woff") format("woff");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }

      .brutal {
        font-family: "BrutalTypeBlack";
      }
    </style>
  </body>
</html>
